body {
    line-height: 2;
    margin-left: 24px;
}

li {
  margin-left: 12px;
}
.new-button {
  background: rgb(67, 187, 181);
  border: 1px solid rgb(206, 26, 26);
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  height: 16px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 16px;
}

.set-button {
  background: rgb(206, 26, 26);
  border: 1px solid rgb(67, 187, 181);
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: 8px;
  padding: 0;
  text-align: top;
  width: 16px;
}