<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Definition for textEditor bean -->
	<bean id="textEditor"
		class="com.tutorialspoint.constructorBasedDependencyInjection.TextEditor">
		<constructor-arg ref="spellChecker" />
		<constructor-arg type="int" value="2001" />
		<constructor-arg type="java.lang.String" value="Microsoft" />
	</bean>

	<!-- Definition for spellChecker bean -->
	<bean id="spellChecker"
		class="com.tutorialspoint.constructorBasedDependencyInjection.SpellChecker">
	</bean>

	<bean id="textEditor2"
		class="com.tutorialspoint.constructorBasedDependencyInjection.TextEditor">
		<constructor-arg index="0" ref="spellChecker" />
		<constructor-arg index="1" value="2001" />
		<constructor-arg index="2" value="Microsoft" />
	</bean>
	
</beans>
