body {
  font: 6px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

label {
  font-size: small;
}

.panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.main-panel {
  display: flex;
  flex-direction: column-reverse;
}

/*
 * The ::after selector inserts something after the content of each selected element(s).
 * Use the content property to specify the content to insert.
 * Use the ::before selector to insert something before the content.
 *
 * clear:
 * the clear property specifies on which sides of an element floating elements are not allowed to float.
*
 */
.panel-row::after {
  clear: both;
  content: "";
  display: table;
}

.panel-elem {
  width: 200px;
  height: 200px;
  background: rgb(18, 65, 145);
  border: 3px solid rgb(255, 0, 0);
  float: left;
  font-size: 8px;
  font-weight: bold;
  line-height: 34px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
.chart-button {
  background-color: green;
  margin: 3px;
  padding: 1px;
}